.dialog-row {
    width: 892px;
}
.dialog-row-number {
    margin-right: 0;
}

.dialog-row-role {
    width: 50px;
}

.player-name {
    width: 380px;
}

.player-name {
    text-align: right;
    margin-right: 20px;
}

.player-name.nd-half {
    text-align: left;
    margin-left: 20px;
}