.dialog {
    left: 165px;
}
.dialog-row {
    width: 950px;
}
.dialog-heading {
    width: 950px;
}

.dialog-row-number {
    margin-right: 0;
}

.dialog-row-role {
    width: 50px;
}

.player-name {
    width: 380px;
}

.player-name {
    text-align: right;
    margin-right: 20px;
}

.player-name.nd-half {
    text-align: left;
    margin-left: 20px;
}

.dialog-row {
    padding: 0;
}

.dialog-row-points {
    border-right: 1px solid #001f3f;
    text-align: right;
    padding-right: 5px;
    padding-left: 5px;
    width: 30px;
}

.dialog-row-heading {
    background: none;
}

/*
.dialog-row-heading .dialog-row-points {
    width: auto;
}
*/