<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800" rel="stylesheet">
    <link rel="stylesheet" href="/css/screen.css">
    <link rel="stylesheet" href="/css/generic.css">
    <link rel="stylesheet" href="styles.css">
    <script src="/lib/jquery.js"></script>
    <script src="/templates/utils.js"></script>
    <script src="/static/js/velocity.min.js"></script>
</head>
<body>

<div class="screen">
    <div class="court-background-wrapper">
        <div class="court-background">
            <div class="court-players">
                <div id="player-1"></div>
                <div id="player-2"></div>
                <div id="player-3"></div>
                <div id="player-4"></div>
                <div id="player-5"></div>
                <div id="player-6"></div>
                <div id="player-7"></div>
            </div>

            <div class="court-team-info">
                <img class="court-team-logo" id="teamLogo" />
                <div class="court-team-name" id="teamName"></div>
            </div>
        </div>
    </div>
</div>

</body>
<script src="script.js"></script>
</html>
