.court-background {
  background-image: url('/graphics/court-with-net.svg');
  background-size: cover;
  width: 1400px;
  height: 600px;
  margin: auto;
  margin-top: 1100px;
  background-position: center center;
  position: relative;
}

.court-team-info {
  position: absolute;
  height: 64px;
  width: 300px;
  left: 150px;
  top: 490px;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

#teamLogo {
  height: 46px;
  width: 46px;
  margin-left: 16px;
}

#teamName {
  text-transform: uppercase;
  font-size: 36px;
  flex: 1;
  text-align: center;
}

.player {
  width: 128px;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.player .player-number {
  height: 46px;
  width: 46px;
  border-radius: 50%;
  background-color: #222b38;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.player .player-name {
  text-align: center;
  height: 20px;
  line-height: 20px;
  font-size: 20px;
  color: #222b38;
  text-transform: uppercase;
  font-weight: 600;
}

#player-1 {
  position: absolute;
  top: 300px;
  left: 870px;
}

#player-6 {
  position: absolute;
  top: 300px;
  left: 630px;
}

#player-5 {
  position: absolute;
  top: 300px;
  left: 410px;
}

#player-2 {
  position: absolute;
  top: 185px;
  left: 800px;
}

#player-3 {
  position: absolute;
  top: 185px;
  left: 630px;
}

#player-4 {
  position: absolute;
  top: 185px;
  left: 460px;
}

#player-7 {
  position: absolute;
  top: 480px;
  left: 900px;
}

#player-7 .player-name {
  color: white;
}

#player-7 .player-number {
  background: linear-gradient(
    to right,
    rgba(226, 20, 175, 1) 0%,
    rgba(167, 16, 127, 1) 100%
  );
}
