.court-background {
    background-image: url(img/court.png);
    width: 1280px;
    height: 720px;
    position: absolute;
    left: 0;
    top: 0;
}

.court-players {
    position: absolute;
    top: 200px;
    left: 420px;
}

.lineup-player {
    position: absolute;
    width: 160px;
    height: 99px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center center;
}

.lineup-player-number {
    text-align: center;
    margin-bottom: 10px;
    line-height: 42px;
    text-align: center;
    font-size: 42px;
/* Color inherit from jersey
    color: white;*/
    margin-top: 10px;
    margin-bottom: 45px;
}

.lineup-player-name {
    color: white;
    font-size: 20px;
    font-weight: bold;
}


.lineup-player-fr {
    top: 20px;
}

.lineup-player-br {
    top: 170px;
}

.lineup-player-1 {
    left: 0px;
}

.lineup-player-2 {
    left: 166px;
}

.lineup-player-3 {
    left: 332px;
}


.lineup-player-libero {
    top: 300px;
    left: 550px;
}


.court-team-info {
    position: absolute;
    left: 350px;
    top: 530px;
}

.court-team-info div {
    float: left;
}

.court-team-info img {
    height: 100px;
    margin-right: 20px;
}

.court-team-info .court-team-name {
    font-size: 48px;
    height: 100px;
    line-height: 100px;
}