.score-board-input {
    width: 20px;
    text-align: center;
}

.number-input {
    width: 35px;
    text-align: center;
}


button {
    background-color: green;
}

button.showing {
    background-color: red;
}
