.score-board-input {
    width: 20px;
    text-align: center;
}

.number-input {
    width: 35px;
    text-align: center;
}

.input-overview {
    padding: 0;
    list-style-type: none;
}

.input-overview li {
    border: 1px solid #ccc;
    width: 200px;
    height: 100px;
    display: inline-block;
    line-height: 100px;
    text-align: center;
    cursor: pointer;
}

.deleted {
    color: #ccc;
}

button {
    background-color: green;
}

button.showing {
    background-color: red;
}
