.jersey {
    background-repeat: no-repeat;
    background-position: center center;
    color: white;
}

.jersey-fit {
    background-size: contain;
}

.jersey-blue {
    background-image: url(/graphics/jersey/blue.png);
}

.jersey-black {
    background-image: url(/graphics/jersey/black.png);
}

.jersey-red {
    background-image: url(/graphics/jersey/red.png);
}

.jersey-green {
    background-image: url(/graphics/jersey/green.png);
}

.jersey-yellow {
    background-image: url(/graphics/jersey/yellow.png);
    color: black;
}

.jersey-grey {
    background-image: url(/graphics/jersey/grey.png);
}

.jersey-orange {
    background-image: url(/graphics/jersey/orange.png);
}

.jersey-white {
    background-image: url(/graphics/jersey/white.png);
    color: black;
}

.jersey-pink {
    background-image: url(/graphics/jersey/pink.png);
}