body {
    width: 1920px;
    height: 1080px;
    overflow: hidden;
    padding: 0;
    margin: 0;
    font-family: Calibri, Arial;
}

th,
td {
    color: white;
}

.screen {
    width: 1920px;
    height: 1080px;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;

    /*background-image: url(/graphics/testbg.jpg);
    background-color: red;*/

    background-repeat: no-repeat;
    background-size: cover;
}

.generic-row {
    height: 55px;
    font-family: 'Open Sans';
    font-size: 36px;
    color: #222b38;
    background-color: white;
    line-height: 55px;
    text-transform: uppercase;
    font-weight: 600;
}

.generic-row .number {
    width: 48px;
    height: 48px;
    color: white;
    background-color: #222b38;
    line-height: 48px;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
}

.secondary-row {
    background-color: #29aae7;
    color: white;
    font-size: 32px;
    font-weight: 400;
}

.row-logo-container {
    width: 96px;
    height: 96px;
    position: relative;
    padding: 7px;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
