<html>
<head>
    <link rel="stylesheet" href="/css/screen.css">
    <link rel="stylesheet" href="styles.css">
    <script src="/lib/jquery.min.js"></script>
    <script src="/templates/utils.js"></script>
    <script src="/static/js/anime.min.js"></script>
</head>
<body>


<div class="screen">
    <div id='dialog' class="dialog">
        <div class="dialog-heading-container">
            <div class="dialog-heading">
                <div class="dialog-top-row">
                    <div class="team-logo home-team"><img id="home-team-logo" src="/graphics/NTNUI/logo.jpg"></div>
                    <div class="dialog-heading-text">Statistikk 2. Sett</div>
                    <div class="team-logo away-team"><img id="guest-team-logo" src="/graphics/Viking/logo.jpg"></div>
                </div>
                <div class="dialog-bottom-row">
                    <div id='homeTeam' class="team-name">
                        <div class="team-name">NTNUI</div>
                    </div>
                    <div class="team-name-spacer"></div>
                    <div id='awayTeam' class="team-name">
                        <div class="team-name">Viking</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="dialog-body dialog-center-row-content">
            <div class="wrapper"></div>
        </div>
    </div>
</div>


</body>
<script src="script.js"></script>
</html>
