<html>
<head>
    <link rel="stylesheet" href="/css/screen.css">
    <link rel="stylesheet" href="styles.css">
    <script src="/lib/jquery.min.js"></script>
    <script src="/templates/utils.js"></script>
    <script src="/static/js/anime.min.js"></script>
</head>
<body>


<div class="screen">
    <div id='dialog' class="dialog">
        <div class="dialog-heading-container">
            <div class="dialog-heading">
                <div class="dialog-top-row">
                    <div class="team-logo home-team"><img src="/graphics/NTNUI/logo.jpg"></div>
                    <div class="dialog-heading-text">2. sett etc</div>
                    <div class="team-logo away-team"><img src="/graphics/Viking/logo.jpg"></div>
                </div>
                <div class="dialog-bottom-row">
                    <div id='homeTeam' class="team-name">
                        <div class="team-name">NTNUI</div>
                    </div>
                    <div class="team-name-spacer"></div>
                    <div id='awayTeam' class="team-name">
                        <div class="team-name">Viking</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="dialog-body dialog-center-row-content">
            <div class="wrapper"></div>
        </div>
    </div>
</div>


</body>
<script>
    function play(str) {

        var data = JSON.parse(str);

        var data = data.data;
        console.log(data);
        console.log(data.stats)
        var ht = $('#homeTeam');
        ht.find('.team-name').html(data.homeTeam.name);
        ht.find('.team-logo img').attr('src', data.homeTeam.logo);

        var at = $('#awayTeam');
        at.find('.team-name').html(data.awayTeam.name);
        at.find('.team-logo img').attr('src', data.awayTeam.logo);


        $('#stats-table').html('');

        var statTypes = [
            {
                name: 'Blokk',
                key: 'blocks'
            },
            {
                name: 'Angrep',
                key: 'attack'
            },
            {
                name: 'Serve-ess',
                key: 'ace'
            },
            {
                name: 'Motstanderfeil',
                key: 'opponentErrors'
            },

        ];

        var html = '';
        for (var i = 0; i<statTypes.length; i++) {
            html += '<div class="dialog-row-container"><div class="dialog-row">';
            html += '<div class="generic-row team-number">' + data.homeTeam[statTypes[i].key]+ "</div>";
            html += '<div class="generic-row secondary-row stat-description">'+statTypes[i].name+'</div>';
            html += '<div class="generic-row team-number">' + data.awayTeam[statTypes[i].key] + "</div>";
            html += '</div></div>';
            console.log(html);
        }

        html += '<div class=\'dialog-row-container\'><div class="dialog-row" style="margin-top: 10px;">';
        html += '<div class="dialog-row-number-column">' + data.homeTeam.total + "</div>";
        html += '<div class="dialog-row-role dialog-row-double-width-role">Totalt</div>';
        html += '<div class="dialog-row-number-column">' + data.awayTeam.total + "</div>";
        html += '</div></div>';
        console.log(html);

        $('.dialog-body .wrapper').append(html);

        window.rowWidth = $('.dialog-row-container').width ();

        window.headingWidth = $('.dialog-heading').width ();

        defaultTeamCompareAnimate();

    }

    function remove(str) {

        defaultTeamCompareAnimateClose();
    }

    if (getUrlParameter('debug')) {
        setTimeout(function () {
            play(JSON.stringify({
                data: {
                    "homeTeam": {
                        "logo": "/graphics/NTNUI/logo.jpg",
                        "name": "NTNUI",
                        'blocks': 3,
                        attack: 4,
                        ace: 1,
                        opponentErrors: 3,
                        total: 10
                    },
                    "awayTeam": {
                        "logo": "/graphics/Randaberg/logo.jpg",
                        "name": "Randaberg",
                        'blocks': 4,
                        attack: 4,
                        ace: 1,
                        opponentErrors: 3,
                        total: 10
                    }
                }
            }));
        }, 10);
    }

</script>
</html>