<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800" rel="stylesheet">
    <link rel="stylesheet" href="/css/screen.css">
    <link rel="stylesheet" href="styles.css">
    <script src="/lib/jquery.js"></script>
    <script src="/static/js/velocity.min.js"></script>
    <script src="/templates/utils.js"></script>

</head>
<body>
  <div class="screen">
    <div id="squad-container">
        <div class="squad-header-container">
          <div class="squad-header-logo fade-in">
            <img id="squadLogo" />
          </div>
          <div class="squad-header-name fade-in" id="squadName"></div>
        </div>
        <div class="squad-content-container" id="squadContent">
        </div>
    </div>
  </div>
  <script src="script.js"></script>
</body>
</html>
