<html>
<head>
    <link rel="stylesheet" href="/css/screen.css">
    <link rel="stylesheet" href="styles.css">
    <script src="/js/jquery.min.js"></script>
</head>
<body>

<div class="fullscreen-background-image"><img src="img/dragvoll.jpg"></div>

<div id='dialog' class="dialog hidden-bottom slide" style="left: 460px; width: 1000px;">
    <div class="dialog-heading">Dragvoll idrettssenter</div>
    <div class="team-names">NTNUI - TIF Viking</div>
</div>


</body>
<script>
    function play(str) {
        console.log('Running update');
        $('#halla').html('play');
        $('#dialog').animate({'top': 200});
    }

    function update(str) {
        console.log('Running update');
        $('#halla').html('update');
        $('#dialog').removeClass('hidden-bottom');
    }

</script>
</html>