<html>
<head>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="/css/screen.css">
    <script src="/lib/jquery.min.js"></script>
    <script src="/templates/utils.js"></script>
</head>
<body>


<div class="screen">
    <div class="interviewee-container hidden-left slide">
        <div class="interviewee-info">
            <div class="interviewee-image-container"><div class="interviewee-image"></div></div>
            <div class="player-info-container">
                <div class="interviewee-age-container">Alder: <span id="interviewee-age"></span> </div>
                <div class="interviewee-height-container">Høyde: <span id="interviewee-height"></span> </div>
                <div class="interviewee-reach-container">Rekkevidde: <span id="interviewee-reach"></span> </div>
            </div>
            <div class="interviewee-name"></div>
        </div>
        <div class="interviewee-role-container">
            <div class="interviewee-stats-container">
                <div id="interviewee-stats-blocks"></div>
                <div id="interviewee-stats-attack"></div>
                <div id="interviewee-stats-ace"></div>
                <div id="interviewee-stats-total"></div>
            </div>
            <div class="interviewee-role"></div>
        </div>
    </div>

</div>


</body>
<script>
    function play(str) {
        var data = JSON.parse(str);

        var data = data.data;
        console.log(data);
        $('.interviewee-image').css('backgroundImage', 'url(' + data.image + ')');
        $('.interviewee-name').text(data.name);
        $('.interviewee-role').text(data.team.name);

        $('#interviewee-age').html(new Date().getFullYear() - parseInt(data.birthyear));
        $('#interviewee-height').html(data.height);
        $('#interviewee-reach').html(data.reach);

        if (typeof(data.blocks) != 'undefined') {
            $('#interviewee-stats-blocks').html('Blokk: ' + data.blocks);
        }

        if (typeof(data.attack) != 'undefined') {
            $('#interviewee-stats-attack').html('Angrep: ' + data.attack);
        }

        if (typeof(data.ace) != 'undefined') {
            $('#interviewee-stats-ace').html('Serve-ess: ' + data.ace);
        }

        if (typeof(data.ace) != 'undefined') {
            $('#interviewee-stats-total').html('Totalt: ' + (parseInt(data.ace) + parseInt(data.attack) + parseInt(data.blocks)));
        }

        $('.interviewee-container').removeClass('hidden-left');

    }

    function remove(str) {
        $('.interviewee-container').addClass('hidden-left');
    }

    if (getUrlParameter('debug')) {
        setTimeout(function () {
            play(JSON.stringify({
                data: {
                    "name": 'Øystein Veien',
                    "team": {
                        name: 'Blussuvoll'
                    },
                      blocks: 0,
                      attack: 0,
                      ace: 0,
                      total: 0,
                    "birthyear": 1983,
                    "image": '/graphics/Oslo Volley/players/121_f/image'
                }
            }));
        }, 50);
    }

</script>
</html>