.interviewee-container {
    width: 1280px;
    bottom: 20px;
    left: 0;
    position: absolute;
}

.interviewee-name {
    background-color: rgba(153, 153, 153, 0.7);
    color: white;
    height: 80px;
    font-size: 48px;
    text-indent: 100px;
    line-height: 80px;
}

.interviewee-role {
    background-color: rgba(170, 170, 170, 0.7);
    color: white;
    height: 40px;
    font-size: 24px;
    text-indent: 100px;
    line-height: 40px;
}
