<html>
<head>
    <link rel="stylesheet" href="/css/screen.css">
    <link rel="stylesheet" href="/css/generic.css">
    <link rel="stylesheet" href="styles.css">
    <script src="/lib/jquery.js"></script>
    <script src="/templates/utils.js"></script>
    <script src="/static/js/velocity.min.js"></script>
</head>
<body>

<div class="screen">
    <div class="scoreboard-container">
        <div class="sb-row">
            <div class="logo-container">
              <img class="text" id="homeTeamLogo" />
            </div>
            <div class="generic-row">
                <div class="sb-team-name text" id="homeTeamName"></div>
                <div class="sb-team-sets number text" id="homeTeamSets"></div>
                <div class="sb-team-prev-sets text" id="homeTeamPrevSets">
                  <div class="sb-prev-set">21</div>
                  <div class="sb-prev-set">25</div>
                  <div class="sb-prev-set">19</div>
                </div>
                <div class="sb-team-points text" id="homeTeamPoints"></div>
            </div>
        </div>

        <div class="border-row">
          <div class="border-logo text"></div>
          <div class="border-name text"></div>
        </div>

        <div class="sb-row">
            <div class="logo-container">
              <img class="text" id="awayTeamLogo" />
            </div>
            <div class="generic-row">
                <div class="sb-team-name text" id="awayTeamName"></div>
                <div class="sb-team-sets number text" id="awayTeamSets"></div>
                <div class="sb-team-prev-sets text" id="awayTeamPrevSets">
                  <div class="sb-prev-set">21</div>
                  <div class="sb-prev-set">25</div>
                  <div class="sb-prev-set">19</div>
                </div>
                <div class="sb-team-points text" id="awayTeamPoints"></div>
            </div>
        </div>
    </div>
</div>


</body>
<script src="script.js"></script>
</html>
