<html>
<head>
    <link rel="stylesheet" href="/css/screen.css">
    <link rel="stylesheet" href="/css/generic.css">
    <link rel="stylesheet" href="styles.css">
    <script src="/lib/jquery.js"></script>
</head>
<body>

<div class="screen">
    <div class="scoreboard-container">
        <div class="sb-row">
            <div class="logo-container">
              <img id="homeTeamLogo" />
            </div>
            <div class="generic-row">
                <div class='sb-team-name' id="homeTeamName"></div>
                <div class='sb-team-sets number' id="homeTeamSets"></div>
                <div class='sb-team-points' id="homeTeamPoints"></div>
            </div>
        </div>

        <div class="border-row">
          <div class="border-logo"></div>
          <div class="border-name"></div>
        </div>

        <div class="sb-row">
            <div class="logo-container">
              <img id="awayTeamLogo" />
            </div>
            <div class="generic-row">
                <div class='sb-team-name' id="awayTeamName"></div>
                <div class='sb-team-sets number' id="awayTeamSets"></div>
                <div class='sb-team-points' id="awayTeamPoints"></div>
            </div>
        </div>
    </div>
</div>


</body>
<script src="script.js"></script>
</html>
