.scoreboard-container {
    top: 20px;
    left: 20px;
    width: 400px;
    position: absolute;
}

.sb-row {
    margin-bottom: 1px;
}

.generic-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo-container {
    width: 55px;
    height: 55px;
    float: left;
    margin-right: 8px;
    background-color: white;
}

.sb-team-name {
    text-indent: 16px;
    flex: 1;
}

.sb-team-points {
    width: 48px;
    height: 48px;
    text-align: right;
    margin-right: 10px;
    line-height: 48px;
}