.scoreboard-container {
    top: 20px;
    left: 20px;
    position: absolute;
}

.sb-row {
    /*margin-bottom: 1px;*/
    min-width: 400px;
    display: flex;
    flex-direction: row;
}

.border-row {
    width: 100%;
    height: 1px;
    display: flex;
    flex-direction: row;
}

.border-logo {
    width: 55px;
    height: 100%;
    margin-right: 8px;
    background: linear-gradient(
        to right,
        rgba(31, 154, 225, 1) 0%,
        rgba(50, 183, 235, 1) 100%
    );
}

.border-name {
    flex-grow: 1;
    height: 100%;
    background: linear-gradient(
        to right,
        rgba(31, 154, 225, 1) 0%,
        rgba(50, 183, 235, 1) 100%
    );
}

.generic-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 32px;
    font-weight: 400;
}

.logo-container {
    min-width: 55px;
    min-height: 55px;
    margin-right: 8px;
    background-color: #222b38;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container img {
    width: 36px;
    height: 36px;
}

.sb-team-name {
    text-indent: 16px;
    width: 250px;
}

.generic-row .number {
    margin-right: 16px;
    font-weight: 400;
}

.sb-team-points {
    width: 48px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    font-weight: 700;
    margin-right: 8px;
    margin-left: 8px;
}

.sb-team-prev-sets {
    /*width: 203px;*/
    background: url('/graphics/blue-bar-270-55.svg');
    box-sizing: border-box;
    /*border: 1px solid rgba(31, 154, 225, 1);*/
    color: white;
    background-size: cover;
    display: flex;
    flex-direction: row;
    font-size: 32px;
}

.sb-prev-set {
    opacity: 0;
    width: 0px;
    text-align: center;
}

.sb-prev-set:last-child {
    border-right: none;
}
