<html>
<head>
    <link rel="stylesheet" href="/css/screen.css">
    <link rel="stylesheet" href="styles.css">
    <script src="/lib/jquery.min.js"></script>
    <script src="/templates/utils.js"></script>
    <script src="/static/js/velocity.min.js"></script>
</head>
<body>


<div class="screen">
    <div class="tp-container">
      <div class="team-container">
        <div class="team-logo fade-in">
          <img id="homeTeamLogo" />
        </div>
        <div class="team-name left">
          <div id="homeTeamName" class="fade-in"></div>
        </div>
      </div>

      <div class="description">
        <div class="fade-in">Cupfinalen</div>
      </div>

      <div class="team-container">
        <div class="team-name">
          <div id="awayTeamName" class="fade-in"></div>
        </div>
        <div class="team-logo left fade-in">
          <img id="awayTeamLogo" />
        </div>
      </div>
    </div>
</div>


</body>
<script src="script.js"></script>
</html>
