.tp-container {
  margin: auto;
  margin-top: 860px;
  width: 1080px;
  height: 100px;
  display: flex;
  flex-direction: row;
}

.team-container {
  width: 420px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.team-logo {
  min-width: 100px;
  min-height: 100px;
  background: #222b38;
  display: flex;
  align-items: center;
  justify-content: center;
}

.team-logo img {
  height: 72px;
  width: 72px;
}

.team-name {
  flex-grow: 1;
  background-color: white;
  height: 100%;
  text-align: center;
  text-transform: uppercase;
  font-size: 36px;
  line-height: 100px;
}

.left {
  margin-left: 8px;
}

.description {
  flex-grow: 1;
  text-align: center;
  line-height: 100px;
  height: 100%;
  text-transform: uppercase;
  color: white;
  font-size: 32px;
  background: url('/graphics/blue-bar-420-55.svg');
  background-size: cover;
  background-position: center;
  padding-left: 20px;
  padding-right: 20px;
}

/* Animation */

.fade-in {
  opacity: 0;
}

.tp-container {
  height: 0px;
  opacity: 0;
}
