<div class="pull-right">
    <a ng-click="onNewGame()">Start a new game</a>
</div>
<!--
<div>
    <ul class="input-overview">
        <li ng-repeat="input in inputs" ng-click="playSource(input)">{{input.name}}</li>
    </ul>
    <a ng-click="reloadDevicelist()">Reload device list</a>
</div>
-->

<uib-tabset active="active">
    <uib-tab index="0" heading="Lag og spillere">
        <team-container></team-container>
    </uib-tab>
    <uib-tab index="1" heading="Før kamp">
        <pre-game-container></pre-game-container>
    </uib-tab>
    <uib-tab index="2" heading="Under kampen">
        <game-container></game-container>
    </uib-tab>
    <uib-tab index="3" heading="Diverse">
        <misc-container></misc-container>
    </uib-tab>
    <uib-tab index="4" heading="Innstillinger for stream">
        <h1>Oppsett av OBS</h1>
        <h4>Overlay</h4>
        Sett følgende adresse som HTML-overlay i OBS:<br>
        {{htmlOverLayURL}}
    </uib-tab>

</uib-tabset>