<div class="pull-right">

    <a ng-click="onNewGame()">Ny poengliga-kamp</a> |
    <a ng-click="onNewFirebaseGame()">Ny scoreboard-kamp</a>
</div>
<!--
<div>
    <ul class="input-overview">
        <li ng-repeat="input in inputs" ng-click="playSource(input)">{{input.name}}</li>
    </ul>
    <a ng-click="reloadDevicelist()">Reload device list</a>
</div>
-->

<uib-tabset active="active">
    <uib-tab index="0" heading="Før kampen">
        <h1>Oppsett av OBS</h1>
        <h4>Overlay</h4>
        Sett følgende adresse som HTML-overlay i OBS:<br>
        {{htmlOverLayURL}}
    </uib-tab>
    <uib-tab index="1" heading="Lag og spillere">
        <team-container></team-container>
    </uib-tab>
    <uib-tab index="2" heading="Før kamp">
        <pre-game-container></pre-game-container>
    </uib-tab>
    <uib-tab index="3" heading="Under kampen">
        <game-container></game-container>
    </uib-tab>
    <uib-tab index="4" heading="Diverse">
        <misc-container></misc-container>
    </uib-tab>


</uib-tabset>