<html>
<head>
    <link rel="stylesheet" href="/css/screen.css">
    <link rel="stylesheet" href="/css/generic.css">
    <link rel="stylesheet" href="styles.css">
    <script src="/lib/jquery.js"></script>
</head>
<body>

<div class="screen">
<div class="dialog scoreboard-container">
    <table cellspacing="0" cellpadding="0">
        <tr class="sb-home-team">
            <td class='sb-team-name' id="homeTeamName"></td>
            <td class='sb-team-sets' id="homeTeamSets"></td>
            <td class='sb-team-points' id="homeTeamPoints"></td>
        </tr>
        <tr>
            <td class='sb-team-name' id="awayTeamName"></td>
            <td class='sb-team-sets' id="awayTeamSets"></td>
            <td class='sb-team-points' id="awayTeamPoints"></td>
        </tr>
    </table>
</div>
</div>


</body>
<script>
    var data = JSON.stringify({
        data: {
        homeTeam: {
            name: 'NTNUI',
            sets: 2,
            points: 5
        },
        awayTeam: {
            name: 'Viking',
            sets: 1,
            points: 7
        }
    }});

    function play(str) {
        update(str);
        $('.dialog').fadeIn();
    }

    var oldObject = null;
    function update(str) {

        var obj = JSON.parse(str);

        var data = obj.data;

        // Same data, return:
        if (JSON.stringify(data) === JSON.stringify(oldObject)) {
            return;
        }

        oldObject = data;

        if (!data) {
            return;
        }

        console.log(data.homeTeam)
        var htInfo = $('<div>').html(data.homeTeam.name).html();
        var atInfo = $('<div>').html(data.awayTeam.name).html();

        $('#homeTeamName').html('');
        $('#awayTeamName').html('');


        if (data.homeTeam.jersey) {
            var elm = $('<div>').addClass('jersey-fit').addClass('jersey').addClass('jersey-' + data.homeTeam.jersey.player);
            $('#homeTeamName').append(elm);
        }

        if (data.awayTeam.jersey) {
            var elm = $('<div>').addClass('jersey-fit').addClass('jersey').addClass('jersey-' + data.awayTeam.jersey.player);
            $('#awayTeamName').append(elm);
        }
        
        $('#homeTeamName').append(data.homeTeam.name);
        $('#awayTeamName').append(data.awayTeam.name);

        $('#homeTeamSets').html(data.homeTeam.sets);
        $('#awayTeamSets').html(data.awayTeam.sets);

        $('#homeTeamPoints').html(data.homeTeam.points);
        $('#awayTeamPoints').html(data.awayTeam.points);

        // We might want to show previous sets:
        if ( (data.homeTeam.sets > 0 || data.awayTeam.sets) > 0 && (data.homeTeam.points + data.awayTeam.points) % 10 == 0) {
            $('.sb-previous-set').remove();
            for (var i = 0; i <(data.homeTeam.sets + data.awayTeam.sets); i++) {
                var elm = $('<td>').html(data.homeTeam.pointsSets[i]).addClass('sb-previous-set');
                elm.insertBefore($('#homeTeamPoints'));

                elm = $('<td>').html(data.awayTeam.pointsSets[i]).addClass('sb-previous-set');
                elm.insertBefore($('#awayTeamPoints'));
            }


            $('.sb-previous-set').animate({width: '30px', maxWidth: '30px'});

            setTimeout(function () {
                $('.sb-previous-set').animate({width: '0', maxWidth: '0'});
            }, 5000);
        }
    }

    function remove() {
        // Animate away to the bottom:
        $('.dialog').fadeOut();
    }

/*

    setTimeout(function () {
        update(data);
    }, 2);
*/

</script>
</html>