.scoreboard-container {
    top: 20px;
    left: 20px;
}

.sb-team-logo {
    padding-right: 20px;
    padding-left: 10px;
    width: 20px;
    height: 20px;
    float: left;
}

.sb-team-name {
    padding-right: 20px;
    padding-left: 10px;
    font-size: 22px;
}

.sb-team-name .jersey {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

.sb-team-name img {
    width: 30px;
    margin-right: 20px;
}

.sb-team-sets {
    background-color: red;
    border-radius: 2px;
    padding: 4px;
}

.sb-team-points {
    font-size: 22px;
    padding: 10px;
}


.sb-team-name.jersey {
    background-position: left center;
    text-indent: 40px;
}