.scoreboard-container {
    top: 20px;
    left: 20px;
}

.sb-team-logo {
    padding-right: 20px;
    padding-left: 10px;
    width: 20px;
    height: 20px;
    float: left;
}

.sb-team-name {
    padding-right: 20px;
    padding-left: 10px;
    font-size: 22px;
}

.sb-team-name .jersey {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

.sb-team-name img {
    width: 30px;
    margin-right: 20px;
}

.sb-team-sets {
    background-color: red;
    border-radius: 2px;
    font-size: 24px;
    width: 20px;
    height: 30px;
    text-align: center;
    line-height: 30px;
}

.sb-team-points {
    margin-left: 20px;
    font-size: 32px;
    text-align: right;
    padding-right: 20px;
}

table {
    border-spacing:0 5px;
}


.sb-team-jersey {
    background-position: left center;
    width: 40px;
    height: 40px;
}

.sb-previous-set {
    color: #ddd;
    text-align: right;
    width: 0;
    max-width: 0;
    overflow: hidden;
}

.dialog-row {
    width: auto;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    heighT: 100%;
    align-items: center;
    margin-bottom: 2px;

    border-radius: 4px;
}