<html>
<head>
    <link rel="stylesheet" href="/css/screen.css">
    <link rel="stylesheet" href="styles.css">
    <script src="/lib/jquery.js"></script>
    <script src="/templates/utils.js"></script>
    <script src="/static/js/anime.min.js"></script>

</head>
<body>

<div class="screen">
<div class="timeout-container">
    <div class="timeout-logo-and-name">
        <div class="timeout-logo">
          <img id="teamLogo" />
        </div>
        <div class="timeout-name">
          <div id="teamName"></div>
        </div>
    </div>
    <div class="timeout-text">
      Time Out
    </div>
</div>
</div>


</body>
<script src="script.js"></script>
</html>
