.timeout-wrapper {
    position: absolute;
    top: 650px;
    left: -2000px;
    overflow: hidden;
}

.timeout-dialog {

}

.dialog-row {
    width: auto;
    font-size: 20px;
    padding-right: 20px;
}

.timeout-info {
    color: white;
    background-color: #0074d9;
    padding: 10px;
    height: 90px;
    font-size: 18px;

}


.team-name {
    text-align: center;
    line-height: 96px;
}

.screen {
   /* background-color: red; */
}