.tp-centre-box {
    background-color: #333;
    width: 150px;
    height: 150px;
    position: absolute;
    left: 565px;
    top: 720px;
    border-radius: 10px;
    animation: bottomelement 1s forwards;
    animation-delay: 1s;
}

.tp-team-container {
    height: 130px;
    width: 0;
    top: 10px;
    left: 0;
    position: absolute;
    overflow: hidden;
    animation: teamcollapsehome 1s forwards;
    animation-delay: 0s;

}
.tp-center-box-animation {
    animation: centerelement 1s forwards;
    animation-delay: 0s;
}


.tp-center-box-animation-collapse {
    animation: bottomelement 1s forwards;
    animation-delay: 1s;
    top: 285px;
}

.tp-hometeam-container-expanded {
    animation: teamexpandhome 1s forwards;
    animation-delay: 1s;
}

.tp-hometeam-container-collapse {
    animation: teamcollapsehome 1s forwards;
    animation-delay: 0s;
    width: 430px;
    left: -430px;
}

@keyframes centerelement {
    from {
        top: 720px;
    }
    to {
        top: 285px;

    }
}

@keyframes bottomelement {
    from {
        top: 285px;
    }
    to {
        top: 720px;
    }
}

@keyframes teamexpandhome {
    100% {
        left: -430px;
        width: 430px;
    }
}

@keyframes teamcollapsehome {
    100% {
        left: 0px;
        width: 0px;
    }
}

@keyframes teamcollapsehome {
    100% {
        left: 0px;
        width: 0px;
    }
}

.tp-awayteam-container.tp-team-container-expanded {
    animation: teamexpandaway 1s forwards;
    animation-delay: 1s;
}

.tp-awayteam-container.tp-awayteam-container-collapse {
    animation: teamcollapseaway 1s forwards;
    animation-delay: 0s;
    width: 430px;
    left: 150px;
}


@keyframes teamexpandaway {
    100% {
        left: 150px;
        width: 430px;
    }
}


@keyframes teamcollapseaway {
    100% {
        left: 150px;
        width: 0px;
    }
}

.tp-awayteam-container {
    left: 150px;
}

.team-logo {
    position: absolute;
    top: 0;
    left: 0;
    height: 130px;
    width: 130px;
    background-color: #333;
    border-radius: 5px;
    perspective: 1000px;

}

.nvbf-logo {
    width: 130px;
    height: 130px;
    position: absolute;
    left: 10px;
    top: 10px;
}

.nvbf-logo img {
    width: 130px;
    height: 130px;
}

.tp-awayteam-container .team-logo {
    left: auto;
    right: 0px;
}

.team-logo img {
    max-height: 120px;
    max-width: 120px;
    padding: 5px;

    /*
    transform: rotateY(40deg);
    transform: scale(1.1);
    transform-style: preserve-3d;
*/
}

.team-name {
    top: 5px;
    color: white;
    font-size: 48px;
    height: 120px;
    line-height: 120px;
    text-indent: 20px;
    background-color: #666;
    position: absolute;
    left: 130px;
    width: 300px;
}

.tp-awayteam-container .team-name {
    text-align: right;
    width: 280px;
    padding-right: 20px;
    left: 0;
}

