<html>
<head>
    <link rel="stylesheet" href="/css/screen.css">
    <link rel="stylesheet" href="styles.css">
    <script src="/lib/jquery.min.js"></script>
    <script src="/static/js/velocity.min.js"></script>
    <script src="/templates/utils.js"></script>
</head>
<body>
  <div class="screen">
      <div class="sub-container">
        <div class="top-description">Spillerbytte</div>
        <div class="sub-content">
          <div class="logo-container">
            <img id="logo" alt="logo" />
          </div>
          <div class="names-container">
            <div class="sub-row bottom-border">
              <div class="row-nr" id="out-number"></div>
              <div class="row-name" id="out-name"></div>
              <img class="arrow" src="/graphics/out-arrow.svg" />
            </div>
            <div class="sub-row">
              <div class="row-nr" id="in-number"></div>
              <div class="row-name" id="in-name"></div>
              <img class="arrow" src="/graphics/in-arrow.svg" />
            </div>
          </div>
        </div>
      </div>
  </div>
<script src="script.js"></script>
</body>
</html>
