.sub-container {
    margin: auto;
    margin-top: 800px;
    width: 550px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
}

.top-description {
    opacity: 0;
    width: 220px;
    height: 28px;
    background-color: #222b38;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
    line-height: 28px;
    margin-bottom: 8px;
}

.sub-content {
    width: 100%;
    height: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo-container {
    height: 0px;
    width: 114px;
    background-color: #222b38;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container img {
    height: 96px;
    width: 96px;
}

.names-container {
    width: 424px;
    height: 100%;
    background-color: white;
}

.sub-row {
    height: 57px;
    font-size: 32px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.bottom-border {
    opacity: 0;
    border-bottom: 2px solid #222b38;
}

.row-nr {
    height: 48px;
    width: 48px;
    background-color: #222b38;
    color: white;
    text-align: center;
    line-height: 48px;
    font-size: 32px;
    font-weight: 600;
    margin-left: 4px;
}

.row-name {
    text-indent: 16px;
    width: 320px;
    margin-right: 8px;
    white-space: nowrap;
}

.arrow {
    width: 21px;
    height: 31px;
}

.fade-in {
    opacity: 0;
}
