<html>
<head>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="/css/screen.css">
    <script src="/lib/jquery.min.js"></script>
    <script src="/templates/utils.js"></script>
    <script src="/static/js/velocity.min.js"></script>
</head>
<body>

<div class="screen">
    <div class="interviewee-container">
        <div class="interviewee-logo-container">
            <img class="interviewee-logo" id="teamLogo" />
        </div>
        <div class="interviewee-info-container">
        <div class="generic-row">
            <div class="player-number number" id="playerNumber"></div>
            <div class="interviewee-name" id="name"></div>
        </div>
        <div class="generic-row secondary-row interviewee-role" id="role"></div>
        </div>
    </div>
</div>

</body>
<script src="script.js"></script>
</html>
