<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="/css/screen.css">
    <script src="/lib/jquery.min.js"></script>
    <script src="/templates/utils.js"></script>
    <script src="/static/js/velocity.min.js"></script>
</head>
<body>

<div class="screen">
    <div class="interviewee-container">
        <div class="interviewee-logo-container">
            <img class="interviewee-logo fade-in" id="teamLogo" />
        </div>
        <div class="interviewee-info-container">
        <div class="generic-row">
            <div class="player-number number fade-in" id="playerNumber"></div>
            <div class="interviewee-name fade-in" id="name"></div>
        </div>
        <div class="generic-row secondary-row interviewee-role">
          <div id="role" class="fade-in"></div>
        </div>
        </div>
    </div>
</div>

</body>
<script src="script.js"></script>
</html>
