.interviewee-container {
    width: 720px;
    position: absolute;
    left: 100px;
    bottom: 50px;
    flex-direction: row;
    display: flex;
}

.interviewee-name, .interviewee-role {
    text-indent: 16px;
}

.interviewee-logo-container {
    flex: 0;
    width: 110px;
    height: 110px;
    background-color: white;
    margin-right: 20px;
}


.interviewee-info-container {
    flex: 1;
}

.generic-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    /*justify-content: center;*/
}

.player-number {
    margin-left: 16px;
}