.interviewee-container {
  width: 720px;
  margin: auto;
  margin-top: 900px;
  flex-direction: row;
  display: flex;
}

.interviewee-name,
.interviewee-role {
  text-indent: 16px;
}

.interviewee-logo-container {
  width: 110px;
  min-width: 110px;
  min-height: 110px;
  height: 110px;
  background-color: #222b38;
  margin-right: 16px;
}

.interviewee-info-container {
  width: 100%;
}

.generic-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  /*justify-content: center;*/
}

.player-number {
  margin-left: 16px;
}

/* Animations */

.interviewee-container {
  height: 0px;
  opacity: 0;
}

.fade-in: {
  opacity: 0;
}
