
<div class="modal-content modal-wizard">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Opprett kamp</h3>
    </div>
    <div class="modal-body" id="myWizard">

        <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="1" aria-valuemin="1" aria-valuemax="4" ng-style="progressBarWidth">
                Steg {{(active%10)+1}} av {{numSteps}}
            </div>
        </div>

        <div class="navbar">
            <div class="navbar-inner">
                <ul class="nav nav-pills">
                    <li ng-repeat="page in pages" ng-class="active == page ? 'active' : ''">
                        <a href="javascript:void(0)" ng-click="goToStep($index)">Steg {{$index+1}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <uib-tabset active="active">

            <uib-tab index="0">

                <div class="well">
                    <label>Velg sport</label>
                    <!-- $parent.$parent is a hack to get out of uib-tab and uib-tabset -->
                    <select class='form-control' ng-model="$parent.$parent.selectedGameType" ng-options="item as item.name for item in gameTypes"></select>

                </div>

            </uib-tab>
            <uib-tab index="1" heading="Static title">

                <div class="well">
                    <label>Velg kamp</label>
                    <select class="form-control input-lg" class='form-control' ng-model="$parent.$parent.eliteGame" ng-options="item.title for item in eliteGames">
                    </select>
                </div>

            </uib-tab>


            <uib-tab index="21" heading="Static title">

                <div class="well row">
                    <label>Velg antall sett</label>
                    <select class='form-control' ng-model="$parent.$parent.currentIndoorSets" ng-options="item as item.name for item in numSetsIndoor"></select>
                </div>

            </uib-tab>

            <uib-tab index="22" heading="Static title">

                <div class="well row">
                    <div class="col-xs-6">
                        <label>Hjemmelag</label>
                        <select class='form-control' ng-model="$parent.$parent.selectedHomeTeam" ng-options="item as item.name for item in allTeams"></select>
                    </div>
                    <div class="col-xs-6">
                        <label>Bortelag</label>
                        <select class='form-control' ng-model="$parent.$parent.selectedAwayTeam" ng-options="item as item.name for item in allTeams"></select>
                    </div>
                </div>

            </uib-tab>

            <uib-tab index="23" heading="Static title">

                <div class="well row">
                    <div class="col-xs-6">
                        <label>Spillere {{selectedHomeTeam.name}}</label>
                        <ul class="wizard-playerlist">
                            <li ng-repeat="player in $parent.$parent.lowerDivisionVolleyball.homeTeam.players">
                                <div class="col-xs-4">
                                    <input type="text" ng-model="player.number" class="form-control" placeholder="Nr">
                                </div>
                                <div class="col-xs-8">
                                    <input type="text" ng-model="player.name" class="form-control" placeholder="Spiller {{$index+1}}">
                                </div>
                            </li>
                        </ul>
                        <button class='btn' ng-click="addPlayer('home')">Legg til spiller</button>

                    </div>
                    <div class="col-xs-6">
                        <label>Spillere {{selectedAwayTeam.name}}</label>
                        <ul class="wizard-playerlist">
                            <li ng-repeat="player in lowerDivisionVolleyball.awayTeam.players">
                                <div class="col-xs-4">
                                    <input type="text" ng-model="player.number" class="form-control" placeholder="Nr">
                                </div>
                                <div class="col-xs-8">
                                    <input type="text" ng-model="player.name" class="form-control" placeholder="Spiller {{$index+1}}">
                                </div>
                            </li>
                        </ul>
                        <button class='btn' ng-click="addPlayer('away')">Legg til spiller</button>
                    </div>
                </div>

            </uib-tab>

            <uib-tab index="31" heading="Static title">

                <div class="well row">
                    <label>Velg antall sett</label>
                    <select class='form-control' ng-model="$parent.$parent.currentBeachSets" ng-options="item as item.name for item in numSetsBeach"></select>
                </div>

            </uib-tab>

            <uib-tab index="32" heading="Static title">

                <div class="well row">
                    <div class="col-xs-6">
                        <label>Spillere hjemmelag</label>
                        <ul class="wizard-playerlist">
                            <li ng-repeat="player in $parent.$parent.lowerDivisionVolleyball.homeTeam.players">
                                <input type="text" ng-model="player.name" class="form-control" placeholder="Spiller {{$index+1}}">
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-6">
                        <label>Spillere bortelag</label>
                        <ul class="wizard-playerlist">
                            <li ng-repeat="player in lowerDivisionVolleyball.awayTeam.players">
                                <input type="text" ng-model="player.name" class="form-control" placeholder="Spiller {{$index+1}}">
                            </li>
                        </ul>
                    </div>
                </div>

            </uib-tab>

        </uib-tabset>
    </div>
    <div class="modal-footer">
        <button class="btn" ng-click="close()">Avbryt</button>
        <button class="btn btn-primary" ng-click="nextStep()">{{nextButtonText}}</button>
    </div>
</div>
