<html>
<head>
    <script src="/lib/jquery.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/velocity/1.5.0/velocity.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="/css/screen.css">
    <link rel="stylesheet" href="styles.css">
    <script src="/templates/utils.js"></script>
</head>
<body>


<div class="screen">
    <div class="interviewee-container">
        <div class="generic-row interviewee-name">
          <div class="text" id="name"></div>
        </div>
        <div class="generic-row secondary-row interviewee-role">
          <div class="text" id="role"></div>
        </div>
    </div>

</div>


</body>
<script src="script.js"></script>
</html>
