<html>
<head>
    <script src="/lib/jquery.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/velocity/1.5.0/velocity.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800" rel="stylesheet">
    <link rel="stylesheet" href="/css/screen.css">
    <link rel="stylesheet" href="styles.css">
    <script src="/templates/utils.js"></script>
</head>
<body>

<div class="screen">
    <div class="interviewee-container">
        <div class="interviewee-logo-container">
            <img class="interviewee-logo fade-in" id="teamLogo" />
        </div>
        <div class="interviewee-info-container">
            <div class="generic-row">
                  <div class="interviewee-name text" id="name"></div>
            </div>
            <div class="generic-row secondary-row interviewee-role">
                <div id="role" class="text"></div>
            </div>
        </div>
    </div>

    <div class="interviewee-container interviewee-container2">
        <div class="interviewee-logo-container ">
            <img class="interviewee-logo fade-in" id="teamLogo2" />
        </div>
        <div class="interviewee-info-container">
            <div class="generic-row">
                <div class="interviewee-name text" id="name2"></div>
            </div>
            <div class="generic-row secondary-row interviewee-role">
                <div id="role2" class="text"></div>
            </div>
        </div>
    </div>
</div>



</body>
<script src="script.js"></script>
</html>
