.interviewee-container {
    width: 720px;
}

.interviewee-container {
    position: absolute;
    left: 100px;
    bottom: 50px;
}

.secondary-row {
    background: url('/graphics/blue-bar-720-55.svg');
}
