.dialog-body {
    align-items: flex-start;
    flex-direction: row;
}

.dialog-row {
    padding-left: 0;
}

.dialog-row.selected-player {
    color: #FFDC00;
}

.dialog-row.selected-player .dialog-row-number {
    background: #FFDC00;
    background: linear-gradient(#FFDC00, #FFB54B);
}

.dialog-row.selected-player .dialog-row-role {
    color: #FFDC00;
}
.player-name {
    white-space: nowrap;
    overflow: hidden;
    width: 368px;
    font-size: 0.9em;
}

.players {
    margin-right: 10px;
}

.player-image {
    width: 298px;
    height: 400px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}