 <fieldset>
        <legend>Score board</legend>

        <table>
            <tr>
                <td></td>
                <td ng-repeat="n in [1,2,3,4,5]">{{n}}</td>
            </tr>
            <tr>
                <td>{{homeTeamName}}</td>
                <td ng-repeat="n in [1,2,3,4,5]"><input type="text" class="score-board-input" value="0"></td>
            </tr>
            <tr>
                <td>{{awayTeamName}}</td>
                <td ng-repeat="n in [1,2,3,4,5]"><input type="text" class="score-board-input" value="0"></td>
            </tr>
        </table>
        <button ng-click="toggleShowing()" ng-class="showing ? 'showing' : ''">Show score board</button>
    </fieldset>
