 <fieldset>
        <legend>Score board</legend>

        <table>
            <tr>
                <td></td>
                <td></td>
                <td ng-repeat="n in [1,2,3,4,5]">{{n}}</td>

            </tr>
            <tr>
                <td>{{homeTeamName}}</td>
                <td><button class="mini-button" ng-click="removePoint('home')">-</button></td>
                <td ng-repeat="n in pointsHomeTeam track by $index"><input type="text" class="score-board-input" ng-model="pointsHomeTeam[$index]" ng-change="updateScoreboard()"></td>
                <td><button class="mini-button" ng-click="addPoint('home')">+</button></td>
            </tr>
            <tr>
                <td>{{awayTeamName}}</td>
                <td><button class="mini-button" ng-click="removePoint('away')">-</button></td>
                <td ng-repeat="n in pointsAwayTeam track by $index"><input type="text" class="score-board-input"  ng-model="pointsAwayTeam[$index]" ng-change="updateScoreboard()"></td>
                <td><button class="mini-button" ng-click="addPoint('away')">+</button></td>
            </tr>
        </table>

        <input id='manual-scoreboard' type="checkbox" ng-model="manualScore"> <label for="manual-scoreboard">Manual score board</label>

        <button class="toggle-button" ng-click="toggleShowing()" ng-class="showing ? 'showing' : ''">Show score board</button>
    </fieldset>
