<fieldset>
    <legend>Timeout</legend>
    <button ng-click='toggleTimeout("home")' class="toggle-button" ng-class="(showing && who == 'home') ? 'showing' : ''" >Time out home team</button>
    <button ng-click='toggleTimeout("away")' class="toggle-button" ng-class="(showing && who == 'away') ? 'showing' : ''" >Time out away team</button>
    <button ng-click='toggleTimeout("technical")' class="toggle-button" ng-class="(showing && who == 'technical') ? 'showing' : ''" >Technical</button>
</fieldset>