<html>
<head>
    <link rel="stylesheet" href="/css/screen.css">
    <link rel="stylesheet" href="styles.css">
    <script src="/lib/jquery.js"></script>
    <script src="/templates/utils.js"></script>

</head>
<body>

<div class="screen">

<div id='dialog' class="dialog slide" style="left: 140px; width: 908px;">
    <div class="dialog-heading">

        <div class="team-name"></div>
    </div>

    <div class="players">
        <div id="player2"  class="player">
            <div id="player2-image"  class="player-image-container"></div>
            <div class="dialog-row">
                <div class="dialog-row-number"></div>
                <div class="player-name"></div>
            </div>
            <div class="player-info">
                <table>

                </table>
            </div>
        </div>

        <div id='player1' class="player">
            <div id="player1-image" class="player-image-container"></div>
            <div class="dialog-row">
                <div class="dialog-row-number"></div>
                <div class="player-name"></div>
            </div>
            <div class="player-info">
                <table>

                </table>
            </div>
        </div>

    </div>

</div>
</div>


</body>
<script>
var data = JSON.stringify({
    data: {
        name: 'Bergerud / Solhaug',
        players: [
            {
                image: 'player1.png',
                number: 1,
                name: 'Anders Berntsen Mol',
                height: 191,
                reach: '340',
                position: 'Forsvar',
                id: 127,
            },
            {
                image: 'player2.png',
                number: 2,
                name: 'Morten Andre Lillehagen',
                height: 203,
                position: 'Blokk',
                reach: '340',
                id: 54,
            },
        ],
    },
});

function play(str) {
    console.log(str);
    var obj = JSON.parse(str);

    $('.team-name').html(obj.data.name);

    var players = obj.data.players;

    if (obj.data.logo) {
        $('.team-logo').html($('<img>').attr('src', obj.data.logo));
    }

    var html = '';

    var p1 = players[0];
    var p2 = players[1];

    $('#player1 .player-name').html(p1.name);
    $('#player1 .dialog-row-number').html(p1.number);
    $('#player1 .dialog-row-role').html(p1.position);

    var addPlayerInfo = function(selector, desc, val) {
        $(selector)
            .find('.player-info table')
            .append('<tr><td>' + desc + '</td><td>' + val + '</td>');
    };

    if (p1.position) {
        addPlayerInfo('#player1', 'Posisjon', p1.position);
    }
    if (p1.height) {
        addPlayerInfo('#player1', 'Høyde', p1.height);
    }
    if (p1.reach) {
        addPlayerInfo('#player1', 'Rekkevidde', p1.reach);
    }

    if (p1.image) {
        $('#player1-image').append($('<img>').attr('src', p1.image));
    }

    $('#player2 .player-name').html(p2.name);
    $('#player2 .dialog-row-number').html(p2.number);
    $('#player2 .dialog-row-role').html(p2.position);

    if (p2.position) {
        addPlayerInfo('#player2', 'Posisjon', p2.position);
    }
    if (p2.height) {
        addPlayerInfo('#player2', 'Høyde', p2.height);
    }
    if (p2.reach) {
        addPlayerInfo('#player2', 'Rekkevidde', p2.reach);
    }

    if (p2.image) {
        $('#player2-image').append($('<img>').attr('src', p2.image));
    }

    $('#dialog').removeClass('hidden-bottom');

    var playersElement = $('.players');
}

function remove(callback) {
    // Animate away to the bottom:
    $('#dialog').addClass('hidden-bottom');
    if (callback) {
        callback();
    }
}

if (getUrlParameter('debug')) {
    setTimeout(function() {
        play(data);
    }, 2);
}
</script>
</html>
