<html>
<head>
    <link rel="stylesheet" href="/css/screen.css">
    <link rel="stylesheet" href="styles.css">
    <script src="/lib/jquery.min.js"></script>
    <script src="/templates/utils.js"></script>
    <script src="/static/js/velocity.min.js"></script>
</head>
<body>


<div class="screen">
    <div id='dialog' class="dialog">
        <div class="team-container">
          <div class="team-header-container">
            <div class="team-header-left">
              <img id="homeTeamLogo" class="team-logo" />
              <div id="homeTeamName" class="team-name"></div>
            </div>

            <div class="team-header-right" id="homeTeamSetName"></div>
          </div>
          <div class="team-sub-header">
            <div class="sub-header-text">Block</div>
            <div class="sub-header-text">Attack</div>
            <div class="sub-header-text">Ace</div>
            <div class="sub-header-text text-bold">Total</div>
          </div>
          <div class="rows-container" id="homeTeamRows"></div>
        </div>

        <div class="team-container">
          <div class="team-header-container">
            <div class="team-header-left">
              <img id="guestTeamLogo" class="team-logo" />
              <div id="guestTeamName" class="team-name"></div>
            </div>

            <div class="team-header-right" id="guestTeamSetName"></div>
          </div>
          <div class="team-sub-header">
            <div class="sub-header-text">Block</div>
            <div class="sub-header-text">Attack</div>
            <div class="sub-header-text">Ace</div>
            <div class="sub-header-text text-bold">Total</div>
          </div>
          <div class="rows-container" id="guestTeamRows"></div>
        </div>
    </div>
</div>


</body>
<script src="script.js"></script>
</html>
