.dialog {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.team-container {
    width: 780px;
    min-height: 100px;
    margin-bottom: 32px;
}

.team-header-container {
    width: 100%;
    background-color: #222b38;
    height: 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    align-items: center;
}

.team-header-left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.team-logo {
    height: 48px;
    width: 48px;
    margin-left: 16px;
    margin-right: 16px;
}

.team-name {
    font-size: 32px;
    text-transform: uppercase;
}

.team-header-right {
    margin-right: 16px;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 400;
}

.team-sub-header {
    margin-top: 8px;
    height: 32px;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.sub-header-text {
    text-transform: uppercase;
    font-size: 20px;
    width: 90px;
    text-align: center;
    height: 100%;
    line-height: 32px;
}

.rows-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid green;
}

.stat-row {
    margin-top: 2px;
    width: 100%;
    height: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}

.stat-row-container-left {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.stat-row-number {
    height: 36px;
    width: 36px;
    line-height: 36px;
    text-align: center;
    color: white;
    background-color: #222b38;
    margin-left: 4px;
    font-size: 24px;
}

.stat-row-name {
    font-size: 32px;
    text-transform: uppercase;
    color: #222b38;
    margin-left: 16px;
}

.stat-row-container-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}

.stat-row-stat {
    width: 90px;
    text-transform: uppercase;
    font-size: 30px;
    color: #222b38;
    text-align: center;
}
