<div class="col-xs-12 col-md-6">
    <iframe src="about:blank" style="position: absolute; left: -1000px; top: -1000px" name="upload"></iframe>
    <h1> <img class="team-logo" ng-src="{{getTeamLogo('home')}}"><input type="text" ng-model="homeTeam.name" ng-change="setTeamName('home')" placeholder="Lagnavn"> </h1>

    <div class="team-player-jersey">
        <div ng-click="changeTeamJersey('home', 'player')" class="jersey jersey-fit" ng-class="'jersey-' + homeTeam.jersey.player" ></div>
        <div ng-click="changeTeamJersey('home', 'libero')"  class="jersey jersey-fit" ng-class="'jersey-' + homeTeam.jersey.libero" ></div>
    </div>

    <div class="jersey-chooser" ng-if="homeTeamChooseJersey">
        <ul>
            <li ng-click="chooseJersey(color)" class="jersey jersey-fit" ng-repeat="color in jerseyColors" ng-class="'jersey-' + color"></li>
        </ul>
    </div>
    <table>
        <thead>
            <tr>
                <th ng-if='hasPlayerId()' title="Bilde">P</th>
                <th>#</th>
                <th>Name</th>
                <th>Position</th>
                <th title="Height">H</th>
                <th title="Reach">R</th>
                <th title="Block Reach">BR</th>
                <th title="Not present">NP</th>
            </tr>
        </thead>
        <tr ng-repeat="player in getTeamPlayers('home')"  ng-class="player.deleted ? 'deleted' : ''">
            <td ng-if="player.id"><a href="javascript:void(0)" ng-click="uploadImage('home', player)">UL </a> <span ng-if="player.image"> | <a ng-if="player.image"><a ng-href="{{player.image}}">PIC</a> </a></span></td>
            <td><input class='number-input' ng-model="player.number" ng-change="onChange()"></td>
            <td><input type="text" ng-model="player.name" ng-change="onChange()"></td>
            <td><input type="text" ng-model="player.position" style="width: 70px;" ng-change="onChange()"></td>
            <td><input class='number-input' type="text" ng-model="player.height" ng-change="onChange()"></td>
            <td><input class='number-input' type="text" ng-model="player.reach" ng-change="onChange()"></td>
            <td><input class='number-input' type="text" ng-model="player.blockReach" ng-change="onChange()"></td>
            <td><input type="checkbox" ng-model="player.deleted" ng-change="onChange()"></td>
        </tr>
    </table>

    <p>
        <a href='javascript:void(0);' ng-click="addPlayer('home')">Add player</a>
    </p>
    <!--
    <p>
        <button class="toggle-button" ng-click="toggleTeamShowing('home')" ng-class="homeShowing ? 'showing' : ''">Show {{getTeamName('home')}} squad</button>
    </p>
    -->
</div>

<div class="col-xs-12 col-md-6">
    <h1><img class="team-logo" ng-src="{{getTeamLogo('away')}}"> <input type="text" ng-model="awayTeam.name" ng-change="setTeamName('away')" placeholder="Lagnavn"> </h1>

    <div class="team-player-jersey">
        <div ng-click="changeTeamJersey('away', 'player')" class="jersey jersey-fit" ng-class="'jersey-' + awayTeam.jersey.player" ></div>
        <div ng-click="changeTeamJersey('away', 'libero')"  class="jersey jersey-fit" ng-class="'jersey-' + awayTeam.jersey.libero" ></div>
    </div>

    <div class="jersey-chooser" ng-if="awayTeamChooseJersey">
        <ul>
            <li ng-click="chooseJersey(color)" class="jersey jersey-fit" ng-repeat="color in jerseyColors" ng-class="'jersey-' + color"></li>
        </ul>
    </div>

    <table>
        <thead>
        <tr>
            <th ng-if='hasPlayerId()' title="Bilde">P</th>
            <th>#</th>
            <th>Name</th>
            <th>Position</th>
            <th title="Height">H</th>
            <th title="Reach">R</th>
            <th title="Block Reach">BR</th>
            <th title="Not present">NP</th>
        </tr>
        </thead>
        <tr ng-repeat="player in getTeamPlayers('away')"  ng-class="player.deleted ? 'deleted' : ''">
            <td ng-if="player.id"><a href="javascript:void(0)" ng-click="uploadImage('away', player)">UL </a> <span ng-if="player.image"> | <a ng-if="player.image"><a ng-href="{{player.image}}">PIC</a> </a></span></td>
            <td><input class='number-input' ng-model="player.number" ng-change="onChange()"></td>
            <td><input type="text" ng-model="player.name" ng-change="onChange()"></td>
            <td><input type="text" ng-model="player.position" style="width: 70px;" ng-change="onChange()"></td>
            <td><input class='number-input' type="text" ng-model="player.height" ng-change="onChange()"></td>
            <td><input class='number-input' type="text" ng-model="player.reach" ng-change="onChange()"></td>
            <td><input class='number-input' type="text" ng-model="player.blockReach" ng-change="onChange()"></td>
            <td><input type="checkbox" ng-model="player.deleted" ng-change="onChange()"></td>
        </tr>
    </table>
    <p>
        <a href='javascript:void(0);' ng-click="addPlayer('away')">Add player</a>
    </p>
    <!--
    <p>
        <button class="toggle-button" ng-click="toggleTeamShowing('away')" ng-class="awayShowing ? 'showing' : ''">Show {{getTeamName('away')}} squad</button>
    </p>
    -->
</div>

<div class="col-xs-12" style="text-align: center;"><button class="btn btn-primary" ng-click="autofillImages()">Autofill with VolleyStream images</button></div>