<div class="col-xs-6">
    <h1>{{getTeamName('home')}}</h1>

    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Position</th>
                <th>H</th>
                <th>R</th>
                <th>BR</th>
            </tr>
        </thead>
        <tr ng-repeat="player in getTeamPlayers('home')">
            <td><input class='number-input' ng-model="player.number" ng-change="onChange()"></td>
            <td><input type="text" ng-model="player.name" ng-change="onChange()"></td>
            <td><input type="text" ng-model="player.position" ng-change="onChange()"></td>
            <td><input class='number-input' type="text" ng-model="player.height" ng-change="onChange()"></td>
            <td><input class='number-input' type="text" ng-model="player.reach" ng-change="onChange()"></td>
            <td><input class='number-input' type="text" ng-model="player.blockReach" ng-change="onChange()"></td>
            <td><input type="checkbox" ng-model="player.deleted" ng-change="onChange()"></td>
        </tr>
    </table>
    <button ng-click="toggleHomeTeamShowing()" ng-class="homeTeamShowing ? 'showing' : ''">Show {{getTeamName('home')}} squad</button>
</div>

<div class="col-xs-6">
    <h1>{{getTeamName('away')}}</h1>

    <table>
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Position</th>
            <th>H</th>
            <th>R</th>
            <th>BR</th>
        </tr>
        </thead>
        <tr ng-repeat="player in getTeamPlayers('away')">
            <td><input class='number-input' ng-model="player.number" ng-change="onChange()"></td>
            <td><input type="text" ng-model="player.name" ng-change="onChange()"></td>
            <td><input type="text" ng-model="player.position" ng-change="onChange()"></td>
            <td><input class='number-input' type="text" ng-model="player.height" ng-change="onChange()"></td>
            <td><input class='number-input' type="text" ng-model="player.reach" ng-change="onChange()"></td>
            <td><input class='number-input' type="text" ng-model="player.blockReach" ng-change="onChange()"></td>
            <td><input type="checkbox" ng-model="player.deleted" ng-change="onChange()"></td>
        </tr>
    </table>

    <button ng-click="toggleAwayTeamShowing()" ng-class="awayTeamShowing ? 'showing' : ''">Show {{getTeamName('away')}} squad</button>
</div>